ack-severe-alert-threshold=0
ack-wait-threshold=15
archive-disk-space-limit=50
archive-file-size-limit=10
conserve-sockets=true
delta-propagation=true
deploy-working-dir=/var/pivotal/gemfire/{{ server_name }}
disable-auto-reconnect=false
disable-tcp=false
distributed-system-id=-1
enable-network-partition-detection=true
enable-time-statistics=false
jmx-manager=true
jmx-manager-port=1099
jmx-manager-start=false
jmx-manager-update-rate=2000
locator-wait-time=120
lock-memory=false
log-disk-space-limit=100
log-file-size-limit=10
log-level=config
max-wait-time-reconnect=60000
member-timeout=5000
membership-port-range=49152-65535
memcached-port=0
memcached-protocol=ASCII
remove-unresponsive-client=true
socket-buffer-size=32768
socket-lease-time=60000
statistic-sample-rate=1000
statistic-sampling-enabled=true
tcp-port=0
log-file=/var/pivotal/gemfire/{{ server_name }}/log/server.log
bind-address={{ bind_address }}
http-service-bind-address={{ bind_address }}
mcast-port=0
